<web-app>

<servlet>
    <servlet-name>LoanSystemServlet</servlet-name>
    <servlet-class>com.loan.LoanSystemServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoanSystemServlet</servlet-name>
    <url-pattern>/LoanSystemServlet</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>LoanSystemServlet</welcome-file>
</welcome-file-list>

</web-app>